$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
// scss-lint:disable all
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
// scss-lint:enable all

.browsehappy {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}

// Space out content a bit
body {
  padding-bottom: 20px;
  padding-top: 20px;
}

// Custom page header
.header {
  border-bottom: 1px solid #e5e5e5;

  // Make the masthead heading the same height as the navigation
  h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
  }
}

.footer {
  background-color: #3d3d5c;
  bottom: 0;
  height: 60px;
  padding: 20px 0;
  position: absolute;
  width: 100%;

  a {
    color: #8699a4;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

// Main marketing message and sign up button
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

// Supporting marketing content
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  // Remove the padding we set earlier
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  // Space out the masthead
  .header {
    margin-bottom: 30px;
  }

  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
}
