$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
// scss-lint:disable all
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
// scss-lint:enable all

.browsehappy {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}

// Space out content a bit
body {
  padding-bottom: 20px;
  padding-top: 20px;
}

// Custom page header
.header {
  border-bottom: 1px solid #e5e5e5;

  // Make the masthead heading the same height as the navigation
  h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
  }
}

.footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;

  .sns {
    list-style-type: none;
    width: 600px;

    li {
      display: inline-block;
      float: left;
      margin-right: 10px;
    }
  }
}

.twitter {
  width: 80px;
}

.pocket {
  width: 90px;

}

.container-narrow > hr {
  margin: 30px 0;
}

.editor {
  height: 500px;
}

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  // Remove the padding we set earlier
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
