/*Space out content a bit*/
body {
  padding-bottom: 20px;
}

/*Make the masthead heading the same height as the navigation*/
h3 {
  line-height: 40px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 19px;
}

.footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
}

.author {
  margin-top: 20px;
}
